* {
  margin: 0;
  padding: 0;
  border: none;
}
html {
  background: #f7f7f7;
  font-family: "微软雅黑", sans-serif;
}
#result {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px 50px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: break-all;
}
hr {
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}
h1 {
  margin: 20px 0;
}
h2 {
  margin: 15px 0 ;
}
h3 {
  margin: 10px 0;
}
h4,
h5,
h6 {
  margin: 5px 0;
}
p,
li {
  line-height: 1.7em;
}
@media screen and (max-width: 480px) {
  #result {
    padding: 30px 10px;
  }
  li {
    margin: 10px 0;
  }
}
